* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.app {
  /* max-width: 800px; */
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: lightblue;
  padding: 10px;
  text-align: left;
  width: 100%;
  position: fixed;
}

.footer {
  background-color: grey;
  padding: 10px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  position: fixed;
}

h1 {
  margin: 0;
}

.category-filter {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.category-filter button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.add-todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.add-todo-form input,
.add-todo-form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-todo-form button {
  margin-right: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.todo-item.incomplete {
  border: 2px solid orange; /* 未達成タスクの枠 */
}

.todo-item.completed {
  border: 2px solid lightblue; /* 達成タスクの枠 */
}

.todo-item input[type="checkbox"] {
  margin-right: 10px;
}

.todo-item span {
  flex: 1;
}

.todo-item button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}